.global {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 99vw;
    height: 100%;
    left: 0;
    background-color: #fff;
}
.global:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: calc(100% - 15%);
    margin-top: 15%;
    background-image: url("../assets/background.png");
    opacity: 0.2;
}
.fade-in {
    -webkit-animation: fadeinout 1.4s linear forwards;
    animation: fadeinout 1.4s linear forwards;
}

@-webkit-keyframes fadeinout {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeinout {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin: auto;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}
.container .main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    align-items: center;
    margin: auto;
    margin-top: 50px;
}
.container .main .logo {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0 auto 0 6vw;
    img {
        width: 580px;
        height: 360px;
    }
}
.container .main .main-text {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 70%;
    height: auto;
    margin: 0 auto 0;
    opacity: 1;
    p {
        width: 60%;
        font-family: 'Montserrat-Regular', 'arial', 'sans-serif';
        font-weight: 400;
        font-size: 18px;
        line-height: 36px;
        margin: auto 20px;
    }
    img {
        width: 409px; 
        height: 64px;
        margin: 47px auto 0;
    }
}

.sample {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    height: 700px;
    margin: 100px auto;
    transition: all 250ms ease-in;
    .sample-title-img {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 70%;
        .title {
            width: 80%;
            height: auto;
            position: relative;
            margin-left: 80px;
            margin-top: 30px;
            font-family: 'BebasNeue-Bold','Times New Roman', 'Georgia';
            font-size: 5em;
            letter-spacing: 3px;
            text-align: center;
            color: #fff;
            opacity: 1;
        }
        .sample-img {
            display: flex;
            justify-content: center;
            margin: auto;
        }
    }
    .sample-text-border {
        display: flex;
        position: relative;
        width: 40%;
        height: auto;
        margin: auto;
        align-items: center;
        background-color: #fff;
        .sample-text {
            width: 80%;
            height: auto;
            margin: auto;
            padding-top: 20px;
            padding-bottom: 20px;
            p {
                font-family: 'Montserrat-Light','arial','sans-serif';
                font-weight: 300;
                font-size: 1.1em;
                line-break: 10px;
                letter-spacing: 1px;
                color: #fff;
            }
        }
    }
    .sample-usage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        height: auto;
        margin: auto;
        span {
            height: 1em;
            font-family: 'Montserrat-Regular','arial','sans-serif';
            font-weight: 600;
            font-size: 1em;
            letter-spacing: 1px;
            color: #fff;
        }
        p {
            font-family: 'Montserrat-Regular','arial','sans-serif';
            font-weight: 300;
            font-size: 0.8em;
            line-break: 10px;
            color: #fff;
        }
    }
}

.first-sample {
    background-color: #a6a4a4;
    .sample-text-border {
        background-color: #8e8e8e;
        box-shadow: 20px 20px 0 #6e6e6e;
        .sample-text{
            margin: auto;
            text-align: center;
            p {
                font-weight: 500;
            }
        }
    }
    .sample-title-img {
        .sample-img {
            img {
                width: 280px;
                height: 200px;
            }
        }
    }
}

.second-sample {
    background-color: #DCB656;
    .sample-text-border {
        background-color: #d4a42b;
        box-shadow: 20px 20px 0 #be9427;
        .sample-text{
            margin: auto;
            text-align: center;
            p {
                font-weight: 500;
            }
        }
    }
    .sample-title-img {
        .title {
            width: 75%;
            margin: auto;
        }
        .sample-img {
            img {
                width: 120px;
                height: 240px;
            }
        }
    }
}

.footer {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
}
.footer .questionnaire {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-top: -50px;
    p {
        width: 100%;
        font-family: 'Montserrat-Regular', 'arial','sans-serif';
        font-size: 2em;
        font-weight: 400;
        transition: all .2s ease-in-out;
    }
}

.button {   
    display: block;
    position: relative;
    padding: 1.5em 3em;
    appearance: none;
    border: 0;
    background: transparent;
    color: #e55743;
    text-transform: uppercase;
    letter-spacing: .25em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset 0 0 0 2px currentcolor;
    transition: background .8s ease;
    margin-top: 30px;
}
.button:hover {
    background: rgba(100, 0, 0, .03);
}
.button .button_horizontal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: transform .8s ease;
    will-change: transform;
}
.button_horizontal:before{
    content: '';
    position: absolute;
    border: inherit;
}
.button .button_vertical {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: transform .8s ease;
    will-change: transform;
}
.button_vertical:before {
    content: '';
    position: absolute;
    border: inherit;
}
.button .button_horizontal {
    border-top: 2px solid currentcolor;
    border-bottom: 2px solid currentcolor;
}
.button .button_horizontal:before {
    top: -12px;
    bottom: -12px;
    left: 10px;
    right: 10px;
  }
.button:hover .button_horizontal {
    transform: scaleX(0);
}
.button .button_vertical {
    border-left: 2px solid currentcolor;
    border-right: 2px solid currentColor;
}
.button_vertical:before {
    top: 10px;
    bottom: 10px;
    left: -12px;
    right: -12px;
}

.button:hover .button_vertical {
    transform: scaleY(0);
}

.footer .info-text {
    margin: auto;
    justify-content: center;
    text-align: center;
    p {
        font-family: 'Montserrat-Regular', 'arial','sans-serif';
        font-size: 3em;
        font-weight: 400;
        transition: all .2s ease-in-out;
    }
}
.footer .info-logo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    transition: all .2s ease-in-out;
    a {
        cursor: pointer;
        img {
            width: 350px;
            height: 100px;
        }
    }
}
.footer .info-logo:hover {
    transform: scale(1.2);
}
.footer .line {
    position: relative;
    width: 85%;
    height: 5px;
    left: 0;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
}
.footer .line:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    margin: auto;
    background-color: #000;
    color: #000;
}
.footer .contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 20%;
}
.footer .contact .social-link {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    a {
        width: 32px;
        height: 32x;
    }
}
.footer .contact .address-link {
    display: block;
    width: 100%;
    text-align: center;
    margin: auto;
    p {
        font-family: 'Montserrat-Regular', 'arial','sans-serif';
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.8;
        margin: 0;
    }
}
@media (min-width: 1400px) {
    .global:before {
        margin-left: 5%;
    }
}
@media (max-width: 1200px) {
    .global:before {
        background-size: 170%;
    }
    .container .main .main-text {
        width: 70%;
        p {
            width: 100%;
            font-size: 1.1em;
            line-height: 3vw;
        }
    }
    .sample {
        width: 100%;
        .sample-title-img {
            justify-content: center;
        }
        .sample-usage {
            margin-bottom: 20px;
        }
    }
    .footer {
        .info-text p{
            font-size: 4vw;
        }
        .contact {
            width: 100%;
        }
    }
}

@media (max-width: 960px) {
    .global:before {
        height: calc(100% - 30%);
        margin-top: 30%;
        margin-left: 0;
    }
    .sample {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        .sample-title-img {
            width: 70%;
            justify-content: center;
            height: auto;
            margin: auto;
            .title {
                height: 40%;
                font-size: 3.5em;
                text-align: center;
                margin: auto;
                margin-top: 30px;
            }
            .sample-img {
                margin: 80px auto;
            }
        }

        .sample-text-border {
            width: 100%;
            height: auto;
            margin-bottom: 40px;
            box-shadow: none;
            .sample-text {
                width: 80%;
                margin: 20px auto;
            }
        }
    }
    .second-sample {
        .sample-text-border {
            float: right;
        }
        .sample-title-img {
            float: left;
        }
    }
    .footer {
        .info-text p{
            font-size: 2.2em;
        }
        .info-logo a img {
            width: 300px;
            height: 70px;
        }
        .info-logo:hover {
            transform: none;
        }
        .questionnaire {
            margin: auto 20px;
            p {
                font-size: 1.5em;
            }
        }
    }
}

@media (max-width: 584px) {
    .global:before {
        height: calc(100% - 50%);
        margin-top: 50%;
        margin-left: 0;
        background-size: 220%;
    }
    .container .main .logo {
        width: 100%;
        img {
            width: 80vw;
            height: calc(70vw - 80px);
        }
    }
    .container .main .main-text {
        width: 80%;
        margin-top: 0;
        p {
            width: 100%;
            line-height: 20px;
        }
        img {
            width: 60vw;
            height: auto;
        }
    }
    .sample {
        width: 100%;

        .sample-title-img {
            width: 100%;
        }

        .sample-text-border {
            width: 100%;
            height: auto;
            .sample-text {
                width: 90%;
                p {
                    font-size: 1em;
                }
            }
        }
    }
    .first-sample .sample-title-img .sample-img {
        img {
            width: 240px;
            height: 160px;
        }
    }
    .second-sample .sample-title-img .sample-img {
        img {
            width: 100px;
            height: 200px;
        }
    }

    .footer {
        .info-text p{
            font-size: 1.8em;
        }
    }

}