<div class="global fade-in">
  <div class="container">
    <div class="main">
      <!-- <div class="logo">
        <span class="logo-span">Hard Beans</span>
        <span class="logo2-span">COSMETICS</span>
      </div> -->
      <div class="logo">
        <img src="../assets/background_logo.png">
      </div>

      <div class="main-text">
        <p>Life consists of happy moments we should treasure. Each and every <br> moment of brewing coffee is a personal
          ritual for us. We do not see <br> perfection in single deeds, rather as a habit. That is why, everyday, we try to<br>
          create modest thingsin a great way, going by the motto: </p>
        <img src="../assets/motto.jpg" style="width:409px; height: 64px">
      </div>
    </div>

    <div class="sample first-sample">
      <div class="sample-title-img fade-in">
        <div class="title">
          <span>Coffee scrub</span>
        </div>
        <div class="sample-img">
          <img src="../assets/probka.png">
        </div>
      </div>
      <div class="sample-text-border fade-in">
        <div class="sample-text">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled
            it to make a type specimen book.</p>
        </div>
      </div>
    </div>

    <div class="sample second-sample">
      <div class="sample-text-border fade-in">
        <div class="sample-text">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled
            it to make a type specimen book.</p>
        </div>
      </div>
      <div class="sample-title-img fade-in">
        <div class="title">
          <span>Coffee Oil</span>
        </div>
        <div class="sample-img">
          <img src="../assets/probka.png">
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="info-text">
      <p>Do you want to know more?</p>
      <p>Contact us!</p>
    </div>
    <div class="info-logo">
      <a href="https://hardbeans.com/" alt="hardbeans.com">
        <img src="../assets/hardbeans.png" alt="hardbeans logo">
      </a>
    </div>
    <div class="line"></div>
    <div class="contact">
      <div class="social-link">
        <a href="https://www.facebook.com/hardbeanscoffeeroasters/"><img class="social-link"
            src="../assets/facebook.png"></a>
        <a href="https://www.instagram.com/hardbeans/"><img class="social-link" src="../assets/instagram.png"></a>
      </div>
      <div class="address-link">
        <p>+48 735 907 752</p>
        <p>Hard Beans Coffee Roasters</p>
        <p>ul. Armii Krajowej 35</p>
        <p>45-071 Opole, Polska</p>
      </div>
    </div>
  </div>
</div>