.global {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 99vw;
    height: 100%;
    left: 0;
    background-color: #fff;
}
.global:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: calc(100% - 15%);
    margin-top: 15%;
    background-image: url("../assets/background.png");
    opacity: 0.2;
}
.fade-in {
    -webkit-animation: fadeinout 1.4s linear forwards;
    animation: fadeinout 1.4s linear forwards;
}

@-webkit-keyframes fadeinout {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeinout {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin: auto;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}
.container .main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    align-items: center;
    margin: auto;
    margin-top: 50px;
}
// .container .main .logo {
//     display: flex;
//     position: relative;
//     flex-wrap: wrap;
//     justify-content: center;
//     width: 100%;
//     height: auto;
//     margin: auto;
//     .logo-span {
//         display: flex;
//         width: 100%;
//         justify-content: center;
//         font-family: 'GT', 'Times New Roman','Georgia','Serif';
//         font-size: 5em;
//         letter-spacing: 3px;
//     }
//     .logo2-span{
//         display: flex;
//         position: absolute;
//         font-family: 'Montserrat-Regular', 'arial','sans-serif';
//         font-size: 1.62em;
//         letter-spacing: 3px;
//     }
// }
// .container .main .logo:before {
//     content: " ";
//     position: absolute;
//     width: 500px;
//     height: 300px;
//     background-image: url("../assets/background_logo.png");
//     // background-size: 80%;
//     opacity: 0.6;
// }
.container .main .logo {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0 auto 0 6vw;
    img {
        width: 500px;
        height: 420px;
    }
}
.container .main .main-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 70%;
    height: auto;
    margin: -40px auto 0;
    opacity: 1;
    p {
        width: 60%;
        font-family: 'Montserrat-Regular', 'arial', 'sans-serif';
        font-weight: 400;
        font-size: 18px;
        line-height: 36px;
        margin: auto 20px;
    }
    img {
        width: 409px; 
        height: 64px;
        margin: 47px auto 0;
    }
}

.sample {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    height: 500px;
    margin: 100px auto;
    transition: all 250ms ease-in;
    .sample-title-img {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        .title {
            width: 100%;
            height: 20%;
            position: relative;
            margin-left: 80px;
            margin-top: 30px;
            font-family: 'BebasNeue-Bold','Times New Roman', 'Georgia';
            font-size: 5em;
            letter-spacing: 3px;
            color: #fff;
            opacity: 1;
        }
        .sample-img {
            display: flex;
            justify-content: center;
            width: 100%;
            margin: auto;
            img {
                filter: drop-shadow(8px 14px 10px #696969);
            }
        }
    }
    
    .sample-text-border {
        display: flex;
        position: relative;
        width: 30%;
        height: 70%;
        margin: auto;
        align-items: center;
        background-color: #fff;

        .sample-text {
            width: 60%;
            height: auto;
            p {
                font-family: 'Montserrat-Light','arial','sans-serif';
                font-weight: 300;
                font-size: 1.2em;
                line-break: 10px;
                letter-spacing: 1px;
                color: #000;
            }
        }
    }
}

.first-sample {
    background-color: #DCB656;

    .sample-text-border {
        background-color: #d4a42b;
        box-shadow: 20px 20px 0 #be9427;
        .sample-text{
            margin: auto;
            text-align: center;
            p {
                font-weight: 500;
            }
        }
    }
}

.second-sample {
    background-color: #4C565A;

    .sample-text-border {
        background-color: #6a777c;
        box-shadow: -20px -20px 0 #5e6a6e;
        .sample-text{
            margin: auto;
            text-align: center;
            p {
                color: #fff;
                font-weight: 500;
            }
        }
    }
    .sample-title-img {
        .sample-img {
            img {
                filter: drop-shadow(8px 14px 10px #A9A9A9);
            }
        }
    }
}

.footer {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
}
.footer .info-text {
    margin: auto;
    justify-content: center;
    text-align: center;
    p {
        font-family: 'Montserrat-Regular', 'arial','sans-serif';
        font-size: 3em;
        font-weight: 400;
        transition: all .2s ease-in-out;
    }
}
.footer .info-logo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    transition: all .2s ease-in-out;
    a {
        cursor: pointer;
        img {
            width: 350px;
            height: 100px;
        }
    }
}
.footer .info-logo:hover {
    transform: scale(1.2);
}
.footer .line {
    position: relative;
    width: 85%;
    height: 5px;
    left: 0;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
}
.footer .line:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    margin: auto;
    background-color: #000;
    color: #000;
}
.footer .contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 20%;
}
.footer .contact .social-link {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    a {
        width: 32px;
        height: 32x;
    }
}
.footer .contact .address-link {
    display: block;
    width: 100%;
    text-align: center;
    margin: auto;
    p {
        font-family: 'Montserrat-Regular', 'arial','sans-serif';
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.8;
        margin: 0;
    }
}
@media (min-width: 1400px) {
    .global:before {
        margin-left: 5%;
    }
}
@media (max-width: 1200px) {
    .global:before {
        background-size: 170%;
    }
    .container .main .main-text {
        width: 70%;
        p {
            width: 100%;
            font-size: 1.1em;
            line-height: 3vw;
        }
    }
    .sample {
        width: 100%;
        .sample-title-img {
            justify-content: center;
        }
    }

    .footer {
        .info-text p{
            font-size: 4vw;
        }
        .contact {
            width: 100%;
        }
    }
}

@media (max-width: 960px) {
    .global:before {
        height: calc(100% - 30%);
        margin-top: 30%;
        margin-left: 0;
    }
    .sample {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        .sample-title-img {
            width: 70%;
            justify-content: center;
            height: auto;
            margin: auto;
            .title {
                height: 40%;
                font-size: 3.5em;
                text-align: center;
                margin: auto;
                margin-top: 30px;
            }
            .sample-img {
                margin: 80px auto;
            }
        }

        .sample-text-border {
            width: 70%;
            height: auto;
            margin-bottom: 40px;
            box-shadow: none;
            .sample-text {
                width: 80%;
                margin: 20px auto;
            }
        }
    }
    .second-sample {
        .sample-text-border {
            float: right;
        }
        .sample-title-img {
            float: left;
        }
    }
    .footer {
        .info-text p{
            font-size: 2.2em;
        }
        .info-logo a img {
            width: 300px;
            height: 70px;
        }
        .info-logo:hover {
            transform: none;
        }
    }
}

@media (max-width: 584px) {
    .global:before {
        height: calc(100% - 50%);
        margin-top: 50%;
        margin-left: 0;
        background-size: 220%;
    }
    .container .main .logo {
        width: 100%;
        img {
            width: 80vw;
            height: calc(80vw - 80px);
        }
    }
    .container .main .main-text {
        width: 80%;
        margin-top: 0;
        p {
            width: 100%;
            line-height: 20px;
        }
        img {
            width: 60vw;
            height: auto;
        }
    }
    .sample {
        width: 100%;

        .sample-title-img {
            width: 100%;
        }

        .sample-text-border {
            width: 100%;
            height: auto;
            .sample-text {
                width: 90%;
            }
        }
    }
    .footer {
        .info-text p{
            font-size: 1.8em;
        }
    }

}