<div class="global fade-in">
  <div class="container">
    <div class="main">

      <div class="logo">
        <a href="https://hardbeans-cosmetics.netlify.app"><img src="../assets/background_logo.png"></a>
      </div>

      <div class="main-text">
          <p>Life consists of happy moments we should treasure. Each and every moment of brewing coffee is a personal
            ritual for us. We do not see perfection in single deeds, rather as a habit. That is why, everyday, we try to
            create modest thingsin a great way, going by the motto: </p>
        <img src="../assets/motto.jpg">
      </div>
    </div>

    <div class="sample first-sample">
      <div class="sample-title-img">
        <div class="title">
          <span>Coffee grounds scrub</span>
        </div>
        <div class="sample-img">
          <img src="../assets/probka.png">
        </div>
      </div>
      <div class="sample-text-border">
        <div class="sample-text">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
        </div>
      </div>
    </div>

    <div class="sample second-sample" media="screen and (max-width: 960px)">
      <div class="sample-title-img">
        <div class="title">
          <span>Coffee Oil</span>
        </div>
        <div class="sample-img">
          <img src="../assets/probka.png">
        </div>
      </div>
      <div class="sample-text-border">
        <div class="sample-text">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="info-text">
      <p>Do you want to know more?</p>
      <p>Visit our website<br>&<br>Contact us!</p>
    </div>
    <div class="info-logo">
      <a href="https://hardbeans.com/" alt="hardbeans.com">
        <img src="../assets/hardbeans.png" alt="hardbeans logo">
      </a>
    </div>
    <div class="line"></div>
    <div class="contact">
      <div class="social-link">
        <a href="https://www.facebook.com/hardbeanscoffeeroasters/" style="margin-right: 20px;"><img class="social-link"
            src="../assets/facebook.png"></a>
        <a href="https://www.instagram.com/hardbeans/"><img class="social-link" src="../assets/instagram.png"></a>
      </div>
      <div class="address-link">
        <p>+48 735 907 752</p>
        <p>Hard Beans Coffee Roasters</p>
        <p>ul. Armii Krajowej 35</p>
        <p>45-071 Opole, Polska</p>
      </div>
    </div>
  </div>
</div>