<div class="global fade-in">
    <div class="container">
      <div class="main">
  
        <div class="logo">
          <a href="https://hardbeans-cosmetics.netlify.app"><img src="../assets/logo.png"></a>
        </div>
  
        <div class="main-text">
          <p>Life consists of happy moments we should treasure. Each and every moment of brewing coffee is a personal
            ritual for us. We do not see perfection in single deeds, rather as a habit. That is why, everyday, we try to
            create modest things in a great way, going by the motto: </p>
          <img src="../assets/motto.jpg">
        </div>
      </div>
  
      <div class="sample first-sample">
        <div class="sample-title-img">
          <div class="title">
            <span>Coffee grounds scrub</span>
          </div>
          <div class="sample-img">
            <img src="../assets/sample_scrub.png">
          </div>
        </div>
        <div class="sample-text-border">
          <div class="sample-text">
            <p>Hard Beans Coffee grounds scrub is an essential element of any successful SPA ritual carried out at home.
              The formula is based on sweet almond oil which has beneficial properties for all skin types. It has strong
              moisturizing, softening, nourishing and regenerating properties. It regulates the activity of the sebaceous
              glands of the skin and accelerates cell renewal. It soothes dry and chapped skin, and in addition, prevents
              inflammation and improves blood circulation in the skin.</p>
          </div>
        </div>
        <div class="sample-usage">
          <span>Usage:</span>
          <p>Apply a small amount of the product to previously wetted skin, massage with circular movements then rinse
            with warm water and gently dry the skin</p>
          <span>Ingredients:</span>
          <p>(coffee grounds), Prunus Amygdalus Dulcis Oil, Adansonia Digitata Seed Oil, Vitellaria Nilotica Seed Butter,
            Glycerin, Cetearyl Olivate, Sclerocarya Birrea Seed Oil, Sorbitan Olivate, Illite, Quartz, (coffee lipids),
            Parfum, Tocopherol, Kaolin, Helianthus Annuus Seed Oil</p>
        </div>
      </div>
  
      <div class="sample second-sample">
        <div class="sample-title-img">
          <div class="title">
            <span>Coffee Grounds Oil</span>
          </div>
          <div class="sample-img">
            <img src="../assets/sample_oil.png">
          </div>
        </div>
        <div class="sample-text-border">
          <div class="sample-text">
            <p>Hard Beans Coffee grounds oil with versatile use is an essential element of any successful SPA ritual
              carried out at home. It is beneficial both to the body and the hair. It has strong nourishing, regenerating
              and moisturizing properties, and also perfectly cares for the skin thanks to the numerous vitamins and
              minerals present in its formula. It creates a protective barrier on the skin, thus helps the chapped skin
              with a tendency to irritation. It perfectly smoothes and softens the skin, and additionally protects against
              water loss.</p>
          </div>
        </div>
        <div class="sample-usage">
          <span>Usage:</span>
          <p><b>Method 1:</b> Shake well before use. Combine the olive with coffee grounds in a 1: 1 ratio (or other,
            depending
            on your personal preferences). Apply a small amount of the product to previously wetted skin, massage in
            circular movements. Rinse with warm water and gently dry the skin.<br>
            <b>Method 2:</b> Apply on hair - use as a hair oiling product<br>
            <b>Method 3:</b> Apply to the chin - use as a beard oil
          </p>
          <span>Ingredients:</span>
          <p>Persea Gratissima Oil, Prunus Amygdalus Dulcis Oil, (coffee lipids), Mauritia Flexuosa Fruit Oil, Adansonia
            Digitata Seed Oil, Sclerocarya Birrea Seed Oil, Passiflora Edulis Seed Oil, Parfum, Tocopherol, Helianthus
            Annuus Seed Oil</p>
        </div>
      </div>
    </div>
  
    <div class="footer">
      <div class="questionnaire">
        <p>And what are you doing with coffee grounds?</p>
        <p style="width: 90%">Write what you think about our products<br> and grab 15% discount in our online shop</p>
        <a href="https://forms.gle/UfY83VDeXqLbCgfR9" style="text-decoration: none;">
          <button class="button">
            Tell Us
            <div class="button_horizontal"></div>
            <div class="button_vertical"></div>
          </button>
        </a>
      </div>
      <div class="line"></div>
      <div class="info-text">
        <p>Do you want to know more?</p>
        <p>Visit our website<br>&<br>Contact us!</p>
      </div>
      <div class="info-logo">
        <a href="https://hardbeans.com/" alt="hardbeans.com">
          <img src="../assets/hardbeans.png" alt="hardbeans logo">
        </a>
      </div>
      <div class="line"></div>
      <div class="contact">
        <div class="social-link">
          <a href="https://www.facebook.com/hardbeanscoffeeroasters/" style="margin-right: 20px;"><img class="social-link"
              src="../assets/facebook.png"></a>
          <a href="https://www.instagram.com/hardbeans/"><img class="social-link" src="../assets/instagram.png"></a>
        </div>
        <div class="address-link">
          <p>+48 735 907 752</p>
          <p>Hard Beans Coffee Roasters</p>
          <p>ul. Armii Krajowej 35</p>
          <p>45-071 Opole, Polska</p>
        </div>
      </div>
    </div>
  </div>