/* You can add global styles to this file, and also import other style files */
body {
  overflow-x: hidden;
}
@font-face {
    font-family: Montserrat-Regular;
    src: url(assets/Fonts/Montserrat-Regular-kopia.ttf);
    font-weight: 500;
}
@font-face {
  font-family: Montserrat-Light;
  src: url(assets/Fonts/Montserrat-Light-kopia.ttf);
  font-weight: 300;
}
@font-face {
  font-family: GT;
  src: url(assets/Fonts/GT-Sectra-Display-Trial-Super-kopia.ttf);
}
@font-face {
  font-family: BebasNeue-Bold;
  src: url(assets/Fonts/BebasNeue-Bold.ttf);
}